
<app-header-part [heading] = 'heading'></app-header-part>

 	<div *ngFor = "let skillContainer of skillContainerArray" class="skillsContainer">
 		<div class="row" (onclick)="headingClicked()">

	 		<div class="col-md-12" >
		 		 <h1>
		 			{{skillContainer.getSkillCategory()}}
				 </h1>
			 </div>
		</div>	 
			 
		<div class="row">
<!-- 			<div class="col-md-4 col-sm-4 col-xs-0"></div> -->
			 <div class="col-md-12 col-sm-12">
			 	<div class="row">
					<div *ngFor = "let item of genArray(skillContainer.getSkillArray().length);let skillIndex = index; " style="display:inline-block;" >
						<div class="ovular">
							
								<div style="display:inline-block;">
									<b>{{skillContainer.getSkillArray()[skillIndex].getSkillName()}}</b>
									
								</div>
								<div style="display:inline-block;">
									{{skillContainer.getSkillArray()[skillIndex].getProperty()}}	
								</div>
							
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-md-4 col-sm-0"> -->
			<!-- </div> -->

 		</div>
 	</div>



