.socialMediaIcon{
	opacity : 0.5;
	width : auto;
	height : 5vh;
	min-width: auto;
	min-height: 6vh;
	margin-top : 5vh;
	margin-bottom : 5vh;
	margin-right: 2vw;
	margin-left: 0.5vw;
	text-decoration:none;


}

.socialMediaIcon:hover{
	opacity : 1;
}

.socialMediaBar{
	margin-top: 5vh;
	background-color: #efefd7;
}

.contactinfo{
	margin-top :5vh;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:  #937842;
	
	padding-bottom: 3vh;
	background-color: 
}