html{
	margin : 0px;
	padding: 0px;
	border : 0px;

}

body{
	margin : 0px;
	padding: 0px;
	border : 0px;
	font-family: 'Montserrat', sans-serif;
}



.align-vertically{
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: center;
}

.profileImage{
	
	border-radius: 50%;
	overflow : hidder;

	width : 50vh ;
	margin-bottom: 1vh;
}
