html{	
	height :100%;
}

body{
	height:100%;
}

.navBar{
	height : 100%;
	background-color: #2D2826;
	z-index: 1;
	/*position : fixed;	*/
	bottom :0px;
	top:0px;
	margin-top : 2vh;
	/*width : 13vw;*/
}

