
#triangle_right {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 140px solid #ff5a00;
    border-bottom: 70px solid transparent;
}

.heading:hover {
	background-color: #e6e6e6;
}
.skills{
	font-size: calc(10px + 0.8vw);	
	border-radius: 4px;
	border-color: rgb(100,100,100);
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1vh;
}

.project-box{
	margin-top : 5vh;
	margin-bottom : 2vh;
    font-family: 'Gothic A1', sans-serif;
}