.heading:hover {
	background-color: #e6e6e6;
}

.heading{
	padding-top  : 3vh;
	padding-bottom : 3vh;
	padding-right: 3vw;
	padding-left: 3vw;
	border-radius: 10px;
}

.project-box{
    font-family: 'Gothic A1', sans-serif;
}

.ovular{
	border-radius: 30px;
	background-color: #F5F5F5;
	margin:1vh;	
	padding-left  : 1vw;
	padding-right: 1vw;
	padding-bottom:1vh;
	padding-top: 1vh;
	text-align: center;
	vertical-align: middle;
	font-family: 'Gothic A1', sans-serif;
}