html{
	padding:  0px;
	margin: 0px;
	border: 0px;
	height : 100%;

}

body{
	height :100%;
}

#navigationBarGlobal{
	z-index: 100;
	height : 100%;
	position : absolute;
	top : 0%;
	display :inline-block
}

.paragraphGlobal{
	font-size: calc(10px + 0.8vw);	
	border-radius: 4px;
	border-color: rgb(220,220,220);
	border-style: solid;
	border-width: 1px;
	padding : 15%;
}

.ovular{
	border-radius: 5px;
	background-color: #000000;
	margin:1vh;
	padding-left  : 1vw;
	padding-right: 1vw;
	padding-bottom:2vh;
	padding-top: 2vh;
	text-align: center;
	vertical-align: middle;
	font-family: 'Gothic A1', sans-serif;
}