 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="./assets/testjs.js"></script>
 <script src="./utils/colorUtils.js"></script>

 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2" rel="stylesheet">



<div id="fixed" class ="row">
	<div id="fixed" class="col-md-2 col-lg-2">
			<app-navigation-bar ></app-navigation-bar>
	</div>
	
	<div id="noMargins" class="col-md-10 col-lg-10">
		<div class="row" style = 'text-align: center;background-color: white'>
			<router-outlet ></router-outlet>
		</div>
		<div id="socialMediaContainer" class="row" style="text-align:center">
			<app-social-media></app-social-media>
		</div>
	</div>
<div>