	<!--The content below is only a placeholder and can be replaced.-->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">




<div class= "row navigationRow">
	<div class= "col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
	<div class ="col-lg-5 col-md-5 col-sm-11 col-xs-11">
		<app-navigation-bar></app-navigation-bar>
	</div>	 
	<div class= "col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
</div>	

<div class="row">
	<div class="col-md-12">	
		<router-outlet></router-outlet>
		<app-social-media></app-social-media>
		
	</div>
</div>

