		<!--The content below is only a placeholder and can be replaced.-->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="./assets/testjs.js"></script>
 <script src="./utils/colorUtils.js"></script>

 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">

<div class ="row">

	<div id="noMargins" class="col-md-4 col-lg-4 ">
		<app-navigation-bar ></app-navigation-bar>
	</div>


	<div id="noMargins" class="col-md-8 col-lg-8 noMargins">
		<router-outlet></router-outlet>
		<app-social-media></app-social-media>
	</div>	
<div>