.navUnit {
	font-size: calc(10px + 0.5vw);

	font-weight: calc(10px + 0.5vw);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	/*vertical-align: middle;*/
	
	border-radius: 5px;
	border-color: #665BCC;
	border :  20px;

	height : 10vh;
	padding : 3vw;	
}

