.navUnit {
	font-size: calc(15px + 1vw);

	font-weight: calc(15px + 1vw);
	font-family: "Baloo Chettan 2", "Lucida Grande", sans-serif;
	text-align: center;
	/*vertical-align: middle;*/
	
	border-radius: 5px;
	border-color: #665BCC;
	border :  20px;

	height : 10vh;
	padding : 3vw;	
	width: 100%;
	display: table;
}

a {
}

