#triangle {
    border-bottom: 5vw solid grey;
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    position : relative;

}

#right-triangle{
	border-bottom: 2.5vw solid transparent;
    border-left: 5vw solid grey;
    border-top: 2.5vw solid transparent;
    broder-right :15vw;
    top : 2.5vw;
    position : relative;

}