<!--The content below is only a placeholder and can be replaced.-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<div class= "row">
	<div id="navigationBarGlobal" class ="col-md-2 col-sm-2">
		<app-navigation-bar></app-navigation-bar>
	</div>

	<div class="col-md-9  col-sm-9">	
		<router-outlet></router-outlet>	
		<!-- <app-home-page></app-home-page> -->
	</div>

</div>

