.ovular{
	border-radius: 30px;
	background-color: #C0C0C0;
	margin:1vh;
	padding-left  : 2vw;
	padding-right: 2vw;
	padding-bottom:1vh;
	padding-top: 1vh;
	text-align: center;
	vertical-align: middle;
	font-family: 'Gothic A1', sans-serif;
	color : black;

	margin-left: 2vw;
	display: inline-block;
	/*margin-right : 1vw	;*/
}

.workBox{
	margin : 1vh;
	margin-bottom: 1.5vh;

}

.headingColumn{
	border-style: solid;
	border-width: 0px 1px 0px 0px;

	border-color: #C0C0C0;

}