<div class = "row">
	<div class="col-md-12 col-sm-12">
		<app-header-part [heading] = 'heading' ></app-header-part>
	</div>
</div>
<div class = "row">
	<div class = "col-md-6 col-sm-6 align-vertically">
		<img class = "profileImage" src="./assets/defaultProfilePic.png" alt="my fake face"/> 
	</div>

	<div class = "col-md-5 col-sm-5 align-vertically ">
			<p class="paragraphGlobal">
				Hi!
				I am a Mechtornics engineer with a love for technlogy. I love making things and can spend
				hours at a time working on things that i love. Over my time as a student and software developer I have worked with many awesome and talented people on several <app-custom-link [link]='projectLink' [linkName]='projectLinkName'></app-custom-link>. Check out my skills and projects .
			</p>
	</div>
</div>

