html{
	margin : 0px;
	padding: 0px;
	border : 0px;

}

body{
	margin : 0px;
	padding: 0px;
	border : 0px;
	font-family: 'Montserrat', sans-serif;
}

.paragraph{
	font-size: calc(10px + 0.8vw);	
	border-radius: 4px;
	border-color: rgb(220,220,220);
	border-style: solid;
	border-width: 1px;
	padding : 15%;
}

.align-vertically{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.profileImage{
	width : 100%;

}
