
<app-header-part [heading] = 'heading' ></app-header-part>
	
<div class = "row">
	<div class = "col-md-6 col-sm-6 align-vertically">
		<img class = "profileImage" src="./assets/defaultProfilePic.png" alt="my fake face"/> 
	</div>

	<div class = "col-md-5 col-sm-5 align-vertically ">
			<p class="paragraphGlobal">
				Hi!
				I am a software developer with a passion for technology. I come from a mechatronics background where I learned about multiple disciplines with a focus on software. During my university years I worked on several <app-custom-link [link]='projectLink' [linkName]='projectLinkName'></app-custom-link>  and scripts over various languages including Python,Java,C,C++ and had an affinity towards coding in general among the three disciplines. 
			</p>
			<p>
				After graduation I worked with the amazing people at HSBC and Intact in their software engineering teams which helped shape my direction in the software industry as well as my coding <app-custom-link [link]='skillsLink' [linkName]='skillsLinkName'></app-custom-link> . Through these experiences I learnt the importance of quality software made with the user in mind as well as those who will work on them afterwards.  To learn more check out the links on the navigation bar.
			</p>
	</div>
</div>

