
<app-header-part [heading] = 'heading' ></app-header-part>
	
<div class = "row">
	<div class = "col-md-6 col-sm-6 col-xs-12 align-vertically">
		<img class = "profileImage" src="./assets/taha_image.JPG" alt="Happy me"/> 
	</div>

	<div class = "col-md-5 col-sm-5 align-vertically ">
			<p class="paragraphGlobal">
				Hi!
				I am a software developer with a passion for technology. I come from a mechatronics background where I learned about multiple disciplines with a focus on software. During my university years I worked on several <app-custom-link [link]='projectLink' [linkName]='projectLinkName'></app-custom-link>  and scripts over various languages including Python,Java,C,C++ and had an affinity towards coding in general among the three disciplines. 
			</p>
			<p>
				After graduation I worked with the amazing people at HSBC and Intact in their software engineering teams which helped shape my direction in the software industry as well as my coding <app-custom-link [link]='skillsLink' [linkName]='skillsLinkName'></app-custom-link> . Through these experiences I learnt the importance of quality software made with the user in mind as well as those who will work on them afterwards.  
			</p>
			<p>
				I have several abilities that help me in my career as a software developer .The first and foremost is my pursuit of a solution that not only gets the job done but is elegant as well. In additon to that I can be a creative person when the situation calls for it, turning complexity into simplicity . Lasltly my communicaiton skills that I used to consider a weekness have turned into an ally that keep the gears my work running smoothly 
			</p>
			<p>
				Note : I consider my sense of humour a strenght as well
			</p>
			<p></p>
	</div>
</div>

