html{
	margin : 0px;
	padding: 0px;
	border : 0px;

}

body{
	margin : 0px;
	padding: 0px;
	border : 0px;
	font-family: 'Montserrat', sans-serif;
}



.align-vertically{
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: center;
}

.profileImage{
	width : 100%;
	border-radius: 50%;
	overflow : hidder;
	height : 60vh;
	width : auto ;
	margin-bottom: 3vh;
}
