
<app-header-part [heading] = 'heading' ></app-header-part>
	
<div class = "row">
	<div class = "col-md-6 col-sm-6 align-vertically">
		<img class = "profileImage" src="./assets/defaultProfilePic.png" alt="my fake face"/> 
	</div>

	<div class = "col-md-5 col-sm-5 align-vertically ">
			<p class="paragraphGlobal">
				Hi!
				I am a mechtonics engineering graduate who has a love for software and building thing in general. Over my time as a student and software developer I have worked with many awesome and talented people on several 

				<app-custom-link [link]='projectLink' [linkName]='projectLinkName'></app-custom-link> 

				and in the process learnt many different technologies , design methadologies and improved my coding 

				<app-custom-link [link]='skillsLink' [linkName]='skillsLinkName'></app-custom-link> . 

				In addition to that , it helped me learn the importance of good communication within the team and the difference it makes , not only work wise , but satisfaction in the overall project. It is amazing to work in a field you like but the people around you can make a huge difference as well. On the right you can check out more in detail about my 
				<app-custom-link [link]='projectLink' [linkName]='projectLinkName'></app-custom-link> 
				, <app-custom-link [link]='skillsLink' [linkName]='skillsLinkName'></app-custom-link>
				 and 
				 <app-custom-link [link]='workLink' [linkName]='workLinkName'></app-custom-link>
				 . You can also contact me through any of the social media accounts , be it criticism , interesting topics in software , project ideas ,hobbies or work related opportunities. 
			</p>
	</div>
</div>

